<!DOCTYPE html>
<html>
<head>

${include('cwd:views/header.html')}

</head>
<body>

${include('cwd:views/navigation.html')}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-dismissible alert-warning">
        <strong>This instance is used only for demonstration purposes. Do NOT use to build services on top of it.</strong>
      </div>
      
      <h1 id="wikidata-trifid">Wikidata Trifid</h1>
      <p>This instance demonstrates our <a href="http://www.zazuko.com/">Zazuko</a> <a href="https://github.com/zazuko/trifid">Trifid</a> Linked Data Server and Proxy based on <a href="http://wikidata.org/">Wikidata</a> SPARQL Endpoint.</p>
      <p>You can browse Wikidata entries in its pure RDF form. This helps understanding the pure RDF view of Wikidata. The official HTML view of a Wikidata entry looks different for design reasons, see the documentation about the <a href="https://www.mediawiki.org/wiki/Wikibase/Indexing/RDF_Dump_Format">RDF Dump Format</a>.</p>
      <h2 id="examples">Examples</h2>
      <p>You can browse every entry in Wikidata:</p>
      <ul>
      <li><a href="/entity/Q42">entity/Q42</a></li>
      <li><a href="/entity/P50">entity/P50</a></li>
      </ul>
      <h2 id="rest-api">REST API</h2>
      <p>Trifid and in particular our upcoming <a href="https://github.com/zazuko/hydra-view">Hydra View</a> component can be used to wrap any SPARQL query into a simple REST API. In this example you can browse space probes in Wikipedia via REST. Just click on the link and follow your nose!</p>
      <ul>
      <li><a href="/api/spaceprobes/">/api/spaceprobes/</a></li>
      <li><a href="/api/spaceprobes/?from=1995&to=2005">/api/spaceprobes/?from=1995&to=2005</a></li>
      </ul>
      <p>You can find the code for this page at <a href="https://github.com/zazuko/wikidata.zazuko.com">Github</a>. Trifid and Hydra View are Open Source Software. <a href="mailto:info@zazuko.com">Contact us</a> for commercial support.</p>
      <p><a href="https://twitter.com/zazukocom">Follow us on Twitter</a>.</p>
      
    </div>
  </div>

${include('cwd:views/footer.html')}

</div>

</body>
</html>
