<!DOCTYPE html>
<html>
<head>

${include('cwd:views/header.html')}

</head>
<body>

${include('cwd:views/navigation.html')}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-dismissible alert-warning">
        <strong>This instance is used only for demonstration purposes. Do NOT use to build services on top of it.</strong>
      </div>
      <h1>Wikidata Trifid</h1>
      <p>This <a href="https://github.com/zazuko/wikidata.zazuko.com/">instance</a> demonstrates <a href="https://github.com/zazuko/trifid" target="_blank">Trifid</a> based on <a href="http://wikidata.org" target="_blank"">Wikidata</a>.</p>
      <h4>Examples to start:</h4>
      <ul>
        <li><a href="/entity/Q42">entity/Q42</a></li>
        <li><a href="/entity/P50">entity/P50</a></li>
      </ul>
      <p>Further find a API demo build with <a href="https://github.com/zazuko/hydra-view">Hydra View</a> at <a href="/api/spaceprobes">/api/spaceprobes</a>.</p>
    </div>
  </div>

${include('cwd:views/footer.html')}

</div>

</body>
</html>
